@charset "UTF-8";
/* primera hoja de estilos */
@font-face {
  font-family: "texto_original";
  src: url("avenir.otf");
}

/******RESET********/
a, html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

 /****GENERAL***/
 a{
   text-decoration: none;
 }
body{
  font-family: "texto_original";
  background-color:#fff;
}
header{
  font-size: 500%;
  background-color:#fff;
}
p{
  text-align: center;
}
/******INICIO******/
#cabecera{
  width: 380px;
  text-align: center;
  text-shadow: #04a 3px 3px 3px;
}
#colo_titu_1{
  color: #008;
}
#colo_titu_2{
  color: #08c;
}
nav{
  background-color: #37f;
}
#ul_principal{
  padding: 34px;
}
#navegacion{
  margin-left: 15px;
  display: inline;
  text-shadow: #048 3px 3px 3px;
  color: #fff;
  font-size: 150%;
}
#img_inicio{
  width: 50%;
  height: 500px;
  float: left;
}
#art_inicio{
  width:  50%;
  margin-left: auto;
}
#texto_1_1{
  font-size: 150%;
  padding: 90px;
}
#texto_1_2{
  font-size: 175%;
  color: #89f;
  text-shadow: #369 1px 1px 1px;
}
#texto_1_3{
  font-size: 150%;
  color: #8bf;
  text-shadow: #78c 1px 1px 1px;
}

/******NUESTROS SERVICIOS*******/
#servicios{
  clear: both;
}
#cabecera_ser{
  padding: 80px;
  text-align: center;
  text-shadow: #ccf 2px 2px 2px;
}
/*************NOSOTROS**************/
.nosotros{
  clear: both;
  background-image: url("fondo.jpg");
  width:100%;
  height: 700px;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.nosotros:before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #8aa;
  position: absolute;
  opacity: 0.3;
}
#cabecera_nos{
  padding: 80px;
  text-align: center;
  font-size: 500%;
  position: relative;
}
#cuerpo_nos{
  position: relative;
  text-align: center;
  margin: auto;
  font-size: 150%;
  width: 50%;
}
figure{
  width: 350px;
  float: left;
  height: 500px;
  border-radius: 20px;

}

figure img{
  width: 97%;
  height: 98%;
  padding: 5px;
  border-radius: 20px;
  border-style: dotted;
  border_color: #000;
}
#productos{
  clear: both;
  padding: 100px;
}
#article_productos{
  background-color: #fff;
  padding: 20px;
  width: 300px;
  height: 170px;
  float: left;
}
#strong_productos{
  background-color: #aac;
  width: 200px;
  padding: 40px;
  border-radius: 10px;
  border-style: double;
  border-color: #669;
  -webkit-transition:-webkit-transform 0.2s ease-in-out 0.1s;
  -moz-transition:-moz-transform 0.2s ease-in-out 0.1s;
}
#strong_P{
  background-color: #aac;
  text-align: left;
  font-size: 120%;
  text-shadow: #fff 3px 3px 3px;
}

strong div:hover{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
}
/*************** QUIENES SOMOS **************/

/*******CAMBI0S DE RESOLUCION*********/
@media (min-width: 731px) {
  #cabecera{
    float: left;
  }
  #ul_principal{
    margin-left: 350px;
  }
}
@media (max-width: 730px) {
  #img_inicio{
    width: 100%;
  }
  #art_inicio{
    width: 100%;
  }
  figure{
    width: 90%;
  }
}
